@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    background: #242f36;
}
nav ul li a{
    text-decoration: none;
}
ul{
   display: inline;
}