@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    background: #242f36;
   
}

nav ul li a{

    text-decoration: none;
      background: #f5f5f5;
       width: 100%;
      
      
     
}
ul{
   display: inline;
   width: 100%;
   height: 100%;
    display: flex;
}
